{:demon-hunter
 ({:name "Grenade Build with Unhallowed Essence Sets",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-unhallowed-essence-grenades-build-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26340"}
  {:name "Fan of Knives Build with Legacy of Nightmares Set",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-legacy-of-nightmares-fan-of-knives-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26341"}
  {:name "Shadow's Mantle Build with Impale",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-shadow-impale-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26342"}
  {:name "Fan of Knives Build with Shadow's Mantle and Marauder Sets",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-shadow-marauder-fan-of-knives-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26343"}
  {:name "Sentry and Cluster Arrow Build with Marauder Set",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-marauder-sentry-cluster-arrow-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26344"}
  {:name "Multishot Build with Unhallowed Essence Set",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-unhallowed-essence-multishot-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26345"}
  {:name "Rain of Vengeance Build with Natalya's Set",
   :url
   "https://www.icy-veins.com/d3/demon-hunter-natalya-rain-of-vengeance-build-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26346"}),
 :barbarian
 ({:name "Support Build with Raekor Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-support-build-with-raekor-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26347"}
  {:name "Whirlwind Build with Wrath of the Wastes Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-whirlwind-build-with-wrath-of-the-wastes-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26348"}
  {:name "Leap/Earthquake Build with Might of the Earth Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-leap-earthquake-build-with-might-of-the-earth-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26349"}
  {:name "Furious Charge Build with Raekor Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-furious-charge-build-with-raekor-and-immortal-king-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26350"}
  {:name "Frenzy/Thorns Build with Legacy of Nightmares Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-frenzy-thorns-build-with-legacy-of-nightmares-set-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26351"}
  {:name "Hammer of the Ancients Build with Immortal King Set",
   :url
   "https://www.icy-veins.com/d3/barbarian-hota-build-with-immortal-king-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26352"}
  {:name "Rend Build with Immortal King and Wrath of the Wastes Sets",
   :url
   "https://www.icy-veins.com/d3/barbarian-rend-build-with-immortal-king-and-wrath-of-the-wastes-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26353"}),
 :witch-doctor
 ({:name "Spirit Barrage Build with LoN Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-legacy-of-nightmares-spirit-barrage-build-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26354"}
  {:name "Firebats Build with Spirit of Arachyr Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-arachyr-firebats-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26355"}
  {:name "Gargantuan Build with Helltooth Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-helltooth-gargantuan-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26356"}
  {:name "Soul Harvest Build with Jade Harvester Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-jade-harvester-build-with-soul-harvest-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26357"}
  {:name "Zombie Bears Build with Helltooth Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-helltooth-zombie-bears-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26358"}
  {:name "Acid Cloud Build with Helltooth Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-helltooth-acid-cloud-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26359"}
  {:name "Carnevil Poison Dart Build with Zunimassa Set",
   :url
   "https://www.icy-veins.com/d3/witch-doctor-zuni-carnevil-poison-dart-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26360"}),
 :crusader
 ({:name "Blessed Hammer Build with Seeker of the Light Set",
   :url
   "https://www.icy-veins.com/d3/crusader-hammerdin-build-with-blessed-hammer-and-seeker-of-the-light-set-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26361"}
  {:name "Bombardment Build with Legacy of Nightmares Set",
   :url
   "https://www.icy-veins.com/d3/crusader-legacy-of-nightmares-bombardment-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26362"}
  {:name "Sweep Attack Build with Roland's Set",
   :url
   "https://www.icy-veins.com/d3/crusader-rolands-sweep-attack-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26363"}
  {:name "Bombardment Build with Akkhan Set",
   :url
   "https://www.icy-veins.com/d3/crusader-akkhan-bombardment-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26364"}
  {:name "Thorns Build with Invoker Set",
   :url
   "https://www.icy-veins.com/d3/crusader-invoker-thorns-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26365"}
  {:name "Condemn Build with Akkhan Set",
   :url
   "https://www.icy-veins.com/d3/crusader-akkhan-condemn-build-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26366"}),
 :monk
 ({:name "Crippling Wave Build with Raiment and Shenlong Sets",
   :url
   "https://www.icy-veins.com/d3/monk-raiment-shenlong-generator-build-with-crippling-wave-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26367"}
  {:name "Support Build with Inna's Mantra Set",
   :url
   "https://www.icy-veins.com/d3/monk-support-build-with-inna-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26368"}
  {:name "Exploding Palm and Mystic Ally Build with Inna's Mantra Set",
   :url
   "https://www.icy-veins.com/d3/monk-inna-exploding-palm-and-mystic-ally-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26369"}
  {:name "Lashing Tail Kick Build with Sunwuko or LoN Sets",
   :url
   "https://www.icy-veins.com/d3/monk-legacy-of-nightmares-lashing-tail-kick-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26370"}
  {:name "Seven-Sided Strike Build with Uliana's Strategem Set",
   :url
   "https://www.icy-veins.com/d3/monk-uliana-seven-sided-strike-build-with-exploding-palm-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26371"}
  {:name "Wave of Light Build with Sunwuko Set",
   :url
   "https://www.icy-veins.com/d3/monk-sunwuko-wave-of-light-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26372"}),
 :wizard
 ({:name "Manald Lightning Archon Build with Vyr and Tal Rasha Sets",
   :url
   "https://www.icy-veins.com/d3/wizard-lightning-archon-build-with-manald-heal-and-tal-rasha-vyr-sets-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26373"}
  {:name "Archon Build with Firebird Set",
   :url
   "https://www.icy-veins.com/d3/wizard-firebird-archon-build-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26374"}
  {:name "Arcane Torrent Build with Manald and Tal Rasha Set",
   :url
   "https://www.icy-veins.com/d3/wizard-arcane-torrent-build-with-manald-ring-and-tal-rasha-set-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26375"}
  {:name "Arcane Orbit Build with DMO Set",
   :url
   "https://www.icy-veins.com/d3/wizard-dmo-arcane-orbit-build-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26376"}
  {:name "Archon Build with Vyr Set",
   :url
   "https://www.icy-veins.com/d3/wizard-vyr-archon-build-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26377"}
  {:name "Explosive Blast Farming Build with Tal Rasha Set",
   :url
   "https://www.icy-veins.com/d3/wizard-explosive-blast-farming-build-with-tal-rasha-set-patch-2-6-season-11",
   :tier "Low Tier",
   :id "build_26378"}),
 :necromancer
 ({:name "Command Skeletons Build with Inarius Set",
   :url
   "https://www.icy-veins.com/d3/necromancer-command-skeletons-build-with-inarius-set-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26379"}
  {:name "Corpse Lance Build with Trag'Oul Set",
   :url
   "https://www.icy-veins.com/d3/necromancer-corpse-lance-build-with-trag-oul-set-patch-2-6-season-11",
   :tier "Top Tier",
   :id "build_26380"}
  {:name "Bone Storm Build with Inarius Set",
   :url
   "https://www.icy-veins.com/d3/necromancer-bone-storm-build-with-inarius-set-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26381"}
  {:name "Skeletal Mages Build with Rathma and Jesseth Sets",
   :url
   "https://www.icy-veins.com/d3/necromancer-skeletal-mages-build-with-rathma-and-jesseth-sets-patch-2-6-season-11",
   :tier "High Tier",
   :id "build_26382"}
  {:name "Corpse Explosion Build with Inarius Set",
   :url
   "https://www.icy-veins.com/d3/necromancer-corpse-explosion-build-with-inarius-set-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26383"}
  {:name "Skeletal Mages Build With Trag'Oul and Jesseth Sets",
   :url
   "https://www.icy-veins.com/d3/necromancer-skeletal-mages-build-with-trag-oul-and-jesseth-sets-patch-2-6-season-11",
   :tier "Mid Tier",
   :id "build_26384"})}
