{:name "Grenade Build with Unhallowed Essence Sets",
 :url
 "https://www.icy-veins.com/d3/demon-hunter-unhallowed-essence-grenades-build-patch-2-6-season-11",
 :tier "Top Tier",
 :buildId "build_26340",
 :credits
 "https://www.icy-veins.com/d3/demon-hunter-unhallowed-essence-grenades-build-patch-2-6-season-11",
 :id "build-description_29814",
 :skills
 {:active
  ({:id "active-skill_29815",
    :button "Left Mouse Button",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/slot_left_mouse.png",
     :name "Grenade"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/b.png",
     :name "Cluster Grenades"}}
   {:id "active-skill_29816",
    :button "Right Mouse Button",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/slot_right_mouse.png",
     :name "Fan of Knives"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/e.png",
     :name "Bladed Armor"}}
   {:id "active-skill_29817",
    :button "1",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/x1_demonhunter_vengeance_large.png",
     :name "Vengeance"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/b.png",
     :name "Dark Heart"}}
   {:id "active-skill_29818",
    :button "2",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/demonhunter_vault_large.png",
     :name "Vault"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/d.png",
     :name "Tumble"}}
   {:id "active-skill_29819",
    :button "3",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/x1_demonhunter_companion_large.png",
     :name "Companion"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/b.png",
     :name "Boar Companion"}}
   {:id "active-skill_29820",
    :button "4",
    :skill
    {:image
     "https://static.icy-veins.com/images/d3/demonhunter_preparation_large.png",
     :name "Preparation"},
    :rune
    {:image "https://static.icy-veins.com/images/d3/b.png",
     :name "Invigoration"}}),
  :passive
  ({:id "passive-skill_29821",
    :name "Grenadier",
    :image
    "https://static.icy-veins.com/images/d3/demonhunter_passive_grenadier_large.png"}
   {:id "passive-skill_29822",
    :name "Numbing Traps",
    :image
    "https://static.icy-veins.com/images/d3/demonhunter_passive_numbingtraps_large.png"}
   {:id "passive-skill_29823",
    :name "Cull the Weak",
    :image
    "https://static.icy-veins.com/images/d3/demonhunter_passive_culltheweak_large.png"}
   {:id "passive-skill_29824",
    :name "Awareness",
    :image
    "https://static.icy-veins.com/images/d3/x1_demonhunter_passive_awareness_large.png"})}}
